<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.bytestemplar.tonedef"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DTMFActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/x-vcard"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DIAL"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <activity android:name=".ConfigActivity"/>
        <activity android:name=".RedBoxActivity"/>
        <activity android:name=".BlueBoxActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity
            android:name=".ContactSelectActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".international.InternationalActivity"/>
        <activity android:name=".international.ButtonActivity"/>

    </application>

</manifest>
