<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bytestemplar.tonedef"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name="com.bytestemplar.tonedef.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.bytestemplar.tonedef.DTMFActivity"/>
        <activity android:name="com.bytestemplar.tonedef.ConfigActivity"/>
        <activity android:name="com.bytestemplar.tonedef.RedBoxActivity"/>
        <activity android:name="com.bytestemplar.tonedef.BlueBoxActivity"/>
        <activity android:name="com.bytestemplar.tonedef.AboutActivity"/>
        <activity android:name="com.bytestemplar.tonedef.international.InternationalActivity"/>
        <activity android:name="com.bytestemplar.tonedef.extras.USTonesActivity"/>
        <activity android:name="com.bytestemplar.tonedef.extras.UKTonesActivity"/>
        <activity android:name="com.bytestemplar.tonedef.extras.OtherTonesActivity"/>
        <activity android:name="com.bytestemplar.tonedef.extras.ExtrasActivity"/>
    </application>
</manifest>