<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.bytestemplar.tonedef"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DTMFActivity"/>
        <activity android:name=".ConfigActivity"/>
        <activity android:name=".RedBoxActivity"/>
        <activity android:name=".BlueBoxActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".international.InternationalActivity"/>
        <activity android:name=".international.ButtonActivity">
        </activity>
    </application>

</manifest>
